<div class="container hero">
  <div class="columns">
    <div class="column col-xs-12 col-md-10 col-lg-8 col-xl-6 col-mx-auto">   
      <h2 class="main--title">About Diversity</h2>
      <p class="main--paragraph text-large">Diversity explores gender and race diversity in fast growing technology companies.</p>
      <br />
      <h4>How was data collected?</h4>
      <p>Data was collected manually from company team pages or Angellist, and verified once. If you are curious, you can find a link to each company's source in the <%= link_to 'raw data', data_path  %> section.</p>
      <h4>Why was the project built?</h4>
      <p>I'm Argentinean, living in Paris, working for companies in the United States and Australia. Naturally, diveristy in technology is a relevant topic for me. </p>
      <p>Despite being catalogued as hispanic, I'm a white male who speaks almost native english, so I don't suffer racism outright.</p>
      <p>I was curious about diversity in remote teams, and  that led me through the rabbit whole. I'm not sure if this is the optimal way to tackle the problem, and I don't care either. </p>
      <h4>Who built Diversity?</h4>
      <p>Growth & product guy, I can also design and code. Argentinean living in Paris, but flying around the world. You can learn more about me <a href="http://gonsanchezs.com">here</a>, or say hi 👋 on <a href="https://twitter.com/gonsanchezs">Twitter</a>.</p>
      <p>In case you are curious, all illustrations 🖌️ were made by the talented <a href="https://twitter.com/maxialbella">Maxi Albella</a>.</p>
    </div>

  </div>
</div>