<div class="container hero">
  <div class="columns text-center">
    <div class="column col-xs-12 col-xl-6 col-mx-auto">   
      <h3 class="main--title">Explore the raw data</h3>
      <p class="main--description">Data was collected manually, going through each company's public profile. You are free to do with it whatever you want.</p>
    </div>
    <iframe class="airtable-embed text-center" src="https://airtable.com/embed/shrOYDCHVd4RAmrAo?backgroundColor=purple" frameborder="0" onmousewheel="" width="80%" height="533" style="background: transparent; border: 1px solid #ccc; margin:auto;"></iframe>
  </div>

