<div class="container hero">
  <div class="columns text-center">
    <div class="column col-xs-12 col-md-10 col-lg-8 col-xl-6 col-mx-auto">   
      <h2 class="main--title">Explore the raw data</h2>
      <p class="main--description">If you want to answer your own question, you can download the data for free from Airtable. It was collected manually, so data entry errors are possible. Everything was done in good spirit.</p>
    </div>
    <iframe class="airtable-embed text-center" src="https://airtable.com/embed/shrOYDCHVd4RAmrAo?backgroundColor=purple" frameborder="0" onmousewheel="" width="80%" height="533" style="background: transparent; border: 1px solid #ccc; margin:auto;"></iframe>
  </div>

</div>