<div class="container hero">
  <div class="columns">
    <div class="column col-xs-12 col-md-10 col-lg-8 col-xl-6 col-mx-auto">   
      <h2 class="main--title text-center">Bite-sized findings</h2>
      <p class="main--description text-large text-center">I took the liberty to answer some of the questions I had. If you want to answer your own, you can <%= link_to 'download the data', data_path %> for free.</p>

          <blockquote>
            <p>On average, remote companies have a better diversity ratio.</p>
            <cite><a class="twitter-share-button" rel="me"
  href="https://twitter.com/intent/tweet?text={{title}}%20{{url}}%20via%20@ecommercedailyy">Tweet this</a></cite>
          </blockquote>
            <br />


          <blockquote>
            <p>On average, bigger companies have a better gender ratio.</p>
            <cite><a class="twitter-share-button" rel="me"
  href="https://twitter.com/intent/tweet?text={{title}}%20{{url}}%20via%20@ecommercedailyy">Tweet this</a></cite>
          </blockquote>
            <br />


          <blockquote>
            <p>On average, remote companies have a better gender ratio.</p>
            <cite><a class="twitter-share-button" rel="me"
  href="https://twitter.com/intent/tweet?text={{title}}%20{{url}}%20via%20@ecommercedailyy">Tweet this</a></cite>
          </blockquote>
            <br />


          <blockquote>
            <p>On average, companies with male CEOs have have a better gender ratio.</p>
            <cite><a class="twitter-share-button" rel="me"
  href="https://twitter.com/intent/tweet?text={{title}}%20{{url}}%20via%20@ecommercedailyy">Tweet this</a></cite>
          </blockquote>
            <br />




    </div>
    













  </div>
</div>