<div class="container hero">
  <div class="columns text-center">
    <div class="column col-xs-12 col-xl-6 col-mx-auto">   
      <h3 class="main--title">Curious to check the top companies?</h3>
      <p class="main--description">Data was collected manually, going through each company's public profile. You are free to do with it whatever you want.</p>




<div>
    <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ranking</th>
      <th>company</th>
      <th>gender ratio</th>
      <th>race ratio</th>
      <th>total score</th>
    </tr>
  </thead>
  <tbody sheetsu='https://sheetsu.com/apis/v1.0/73162961a1d4' sheetsu-sheet='Ranking'>
    <tr>
      <td>{{ranking}}</td>
      <td>{{company}}</td>
      <td>{{gender}}</td>
            <td>{{race}}</td>
      <td>{{score}}</td>
    </tr>
  </tbody>
</table>
</div>

  <script src='//load.sheetsu.com'></script>
    
  </div>
</div>

