@media screen and (max-width: 768px) {

#mobile-invisible {
  display: none;
}

.main--title {
  font-size: 30px;
  margin-top: 20px;
}

.hero--index {
  background-image: none !important;
  height: auto !important;
}

.company--section {
  margin-top: 20px !important;
}

}